.navbar-container {
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  z-index: 2;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  /* border: 1px solid black; */
}

.logo-container {
  font-family: "Space Grotesk", "sans-serif";
  font-weight: bolder;
  font-size: 30px;
}
.links-container {
  display: flex;
  gap: 20px;
}

.link {
  font-family: "Space Grotesk", "sans-serif";
  text-decoration: none;
  font-weight: bolder;
  color: black;
}

.ham-container {
  display: none;
}

.dropdwn-container {
  width: 100%;
  display: none;
  /* display: flex;
  flex-direction: column; */
}

.drpdwn-links-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.drpdwn-link {
  font-family: "Space Grotesk", "sans-serif";
  text-decoration: none;
  font-weight: bolder;
  color: black;
  text-align: center;
  padding: 10px;
}

/*responsive design*/
/* mobile devices */
@media (max-width: 576px) {
  .links-container {
    display: none;
  }
  .ham-container {
    display: block;
  }
  .dropdwn-container {
    width: 100%;

    display: flex;
    flex-direction: column;
  }
}

/* small devices  */
@media (min-width: 576px) and (max-width: 768px) {
  .links-container {
    display: none;
  }
  .ham-container {
    display: block;
  }
  .dropdwn-container {
    width: 100%;

    display: flex;
    flex-direction: column;
  }
}

/*remove these if not needed*/
/*medium devices*/
@media (min-width: 768px) and (max-width: 992px) {
}

/*large devices */
@media (min-width: 992px) and (max-width: 1200px) {
}

/*more than large*/
@media (min-width: 1200px) {
}
