@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Inter&family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
/* 
body {
  font-family: 'Space Grotesk','sans-serif';
} */

/* .main */
/* 
.main {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/src/assets/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
} */

/* .font-satoshi */
/* .font-satoshi {
  font-family: "Satoshi", Arial, sans-serif;
} */

/* .font-black-ops */
/* .font-black-ops {
  font-family: "Black Ops", Arial, sans-serif;
} */

/* Components */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background: linear-gradient(
    90deg,
    white 0%,
    rgb(255, 214, 139) 30%,
    white 67%,
    rgb(255, 214, 139) 100%
  );
  background-size: 1000%;
  animation: background 5s linear alternate infinite;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
}

@keyframes background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.black_btn {
  border-radius: 9999px;
  border: 1px solid #000;
  background-color: #000;
  padding: 0.375rem 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #fff;
  transition: all 0.3s ease;
}

.black_btn:hover {
  background-color: #fff;
  color: #000;
}

.head_text {
  margin-top: 1.25rem;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.15;
  text-align: center;
  color: #000;
  font-family: "Space Grotesk", "sans-serif";
}

.orange_gradient {
  background-image: linear-gradient(to right, #ffc107, #ff9800, #ff5722);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.desc {
  margin-top: 1.25rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #6b7280;
  text-align: center;
  max-width: 2xl;
  font-family: "Ubuntu", "sans-serif";
}

.link_card {
  margin-top: 10px;
  padding: 0.75rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  gap: 0.75rem;
  border-radius: 0.375rem;
  cursor: pointer;
}

.copy_btn {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset 10px -50px 94px 0 rgba(199, 199, 199, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.blue_gradient {
  font-weight: 900;
  background-image: linear-gradient(to right, #2196f3, #00bcd4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.summary_box {
  border-radius: 0.75rem;
  border: 1px solid #e5e7eb;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 1rem;
}

.link-img {
  padding: 0;
  margin: -36px;
  margin-left: 10px;
}

/* do not change */
.header-container {
  padding-top: 100px;
}

.main-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  /* border: 3px solid red; */
}

.search-container {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  background-color: white;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-bar {
  background-color: transparent;
  border: 0px solid;
  padding-left: 10px;
  width: 200px;
}

.search-bar:focus {
  outline: none;
}

.submit-btn {
  border: 1px solid grey;
  padding: 2px 15px;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: rgb(216, 214, 214);
}

.result-container {
  margin-top: 20px;
  width: 50%;
  height: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.article-summary-text {
  display: flex;
  text-align: justify;
  hyphens: auto;
  flex-direction: column;
  align-items: end;
}

.article-copy-btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #ff5722;
}

.article-span {
  color: #ff5722;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* You may need to adjust this to the desired height */
}

/* //responsive design */
@media (max-width: 576px) {
  .result-container {
    width: 100%;
  }
}

/* small devices  */
@media (min-width: 576px) and (max-width: 768px) {
  .result-container {
    width: 100%;
  }
}
